<div class="container">
  <div class="row box1">
    <form action="/auth/login" method="POST">
      <div class="input-field col s12 m6 offset-m2">
        <label for="authEmail" class="active"></label>
        <input id="authEmail" class="form-control" type="email" name="email" placeholder="Email">
      </div>

      <div class="input-field col s12 m6 offset-m2">
        <label for="authPassword" class="active"></label>
        <input id="authPassword" class="form-control" type="password" name="password" placeholder="Password">
      </div>

      <input class="red accent-2 waves-effect waves-light btn col s8 offset-m2" type="submit">
    </form>
  </div>
</div>
