
<div class="container center-align">
  <div id="headtitle">
    <h1>TravelList</h1>
  </div>
  <div class="row box1">
    <div class="col s12 m8 offset-m2">
      <div class="card white">
        <form action="/auth/login" method="POST">
         <div class="row">
            <div class="input-field col s8 offset-s2 m6 offset-m3" style="margin-top: 2rem;">
              <input id="authEmail" class="validate" type="email" name="email" placeholder="Email">
              <label for="authEmail" class="active" data-error="wrong"></label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s8 offset-s2 m6 offset-m3" style="margin-top: 0;">
              <input id="authPassword" class="validate" type="password" name="password" placeholder="Password">
              <label for="authPassword" class="active" data-error="wrong"></label>
            </div>
          </div>
          <div class="row">
            <button class="cyan darken-4 waves-effect waves-light btn col s6 m6 offset-m3" type="submit">Submit</button>
          </div>
        </form>
        <div class="row center-align prompt">
          <a href="/auth/signup">Sign up now</a>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <div class="container">
  <a href="/auth/signup">Sign up now</a>
</div> -->
<!-- <button class="red accent-2 waves-effect waves-light btn col s6 offset-m3">Sign Up Now</button> -->
