<% if (alerts.error) { %>
  <% alerts.error.forEach(function(msg) { %>
    <div class="row cyan lighten-3 center-align"><%= msg %></div>
  <% }); %>
<% } %>
<% if (alerts.success) { %>
  <% alerts.success.forEach(function(msg) { %>
    <div class="row cyan lighten-3 center-align"><%= msg %></div>
  <% }); %>
<% } %>
