
  <div class="row">
   <div class="col s12 m6 offset-m3">
     <div class="card-panel">
       <h3 class="center-align">Get Started Now</h3>
       <p>List down all your bucketlist and start planning your dream vacation.
       </p>
     </div>
   </div>
  </div>
  <div class="row">
   <div class="col s12 m6 offset-m3">
     <div class="card">
       <div class="card-image waves-effect waves-block waves-light">
         <img class="activator" src="/img/photo1.jpg">
       </div>
       <div class="card-content">
         <span class="card-title activator grey-text text-darken-4">Iceland<i class="material-icons right">more_vert</i></span>
         <p><a href="/plan/itinerary/create">Create your list now</a></p>
       </div>
       <div class="card-reveal">
         <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
         <p>A Nordic island country in the North Atlantic Ocean. It has a population of 332,529 and an area of 103,000 km2 (40,000 sq mi), making it the most sparsely populated country in Europe.[7] The capital and largest city is Reykjavík. Reykjavík and the surrounding areas in the southwest of the country are home to over two-thirds of the population</p>
       </div>
     </div>
   </div>
  </div>
  <div class="row">
   <div class="col s12 m6 offset-m3">
     <div class="card">
       <div class="card-image waves-effect waves-block waves-light">
         <img class="activator" src="/img/photo2.jpg">
       </div>
       <div class="card-content">
         <span class="card-title activator grey-text text-darken-4">New Zealand<i class="material-icons right">more_vert</i></span>
         <p><a href="/plan/itinerary/create">Create your list now</a></p>
       </div>
       <div class="card-reveal">
         <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
         <p>Here is some more information about this product that is only revealed once clicked on.</p>
       </div>
   </div>
  </div>
