<div class="container" style="text-align:center">
  <div class="row" style="margin-top:10%; ">
    <div class="col s12 m10 offset-m1">
      <div class="card white">
        <div class="card-content black-text">
          <span class="card-title">Hi Fellow Traveller</span>
           <p>Welcome to TravelList. Where travellers plan and meet</p>
        </div>
        <div class="container">
          <div class="card-action">
            <div class="row">
              <a class="red accent-2 waves-effect waves-light btn col s12 m6 offset-m3" href="/auth/signup">Signup</a>
            </div>
            <div class="row">
              <a class="red accent-2 waves-effect waves-light btn col s12 m6 offset-m3" href="/auth/login">Login</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
