html {
  height: 100%;
}
body {
  background-image: url('/img/iceland.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}


.box1 {
  background-color:white;
  padding: 40px;
  border-radius:4px;
  margin-top:10%;
}

a {
  color: black;
}
