<div class="container">
  <div class="row">
    <div class="card-panel">
      <form action="/plan" method="POST">
        <div class="row">
          <div class="input-field col s12 m3 offset-m3">
            <input id="authCity" class="validate" type="number" name="budget" placeholder="Budget">
            <label for="authBudget" class="active"></label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m6 offset-m3">
            <input id="authCountry" class="validate" type="text" name="country" placeholder="Country">
            <label for="authCountry" class="active"></label>
          </div>
          <!-- <div class="input-field col s12 m3">
            <input id="authCity" class="validate" type="text" name="city" placeholder="City">
            <label for="authCity" class="active"></label>
          </div> -->
        </div>
        <div class="row">
          <input class="cyan darken-4 waves-effect waves-light btn col s6 offset-m3" type="submit">
        </div>
      </form>
    </div>
  </div>
</div>
