<div class="container">
  <div class="row">
    <div class="card-panel">
      <form action="/plan/itinerary/edit/<%= data.id %>" method="POST">
        <div class="row">

          <!-- <div class="input-field col s12 m3 offset-m3">
            <input id="authBudget" class="validate" type="number" name="budget" placeholder="Budget" value="<%= data.budget %>">
            <label for="authBudget" class="active"></label>
          </div>
        </div> -->
        <div class="row">
          <div class="input-field col s12 m6 offset-m3">
            <input id="authActivity" class="validate" type="text" name="activity" placeholder="Activity" value="<%= data.activity %>">
            <label for="authActivity" class="active"></label>
          </div>
          <!-- <div class="input-field col s12 m3">
            <input id="authCity" class="validate" type="text" name="city" placeholder="City">
            <label for="authCity" class="active"></label>
          </div> -->
        </div>
        <div class="row">
          <button class="cyan darken-4 waves-effect waves-light btn col s6 offset-m3" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
