<div class="container">
  <div class="row">
    <div class="card-panel"><a href="add/create" class="btn-floating btn-small waves-effect waves-light cyan"><i class="material-icons">add</i></a>
      <p class="parainline">Add your itinerary</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="card-panel cyan">
      HI
    </div>
  </div>
</div>
