<div class="container">
  <div class="row">
    <div class="card-panel">
       <div class="row">
          <div class="col s12">
              <ul class="tabs">
                <li class="tab col s3"><a href="#test1">Popular</a></li>
                <li class="tab col s3"><a href="#test2">New</a></li>
                <!-- <li class="tab col s3 disabled"><a href="#test3">Disabled Tab</a></li> -->
                <li class="tab col s3"><a href="#test4">Favourites</a></li>
              </ul>
          </div>
          <!-- <div id="test1" class="col s12">Test 1</div>
          <div id="test2" class="col s12">Test 2</div>
          <div id="test3" class="col s12">Test 3</div>
          <div id="test4" class="col s12">Test 4</div> -->
        </div>
      <% data.forEach(function(element){%>
        <!-- <i class="material-icons">thumb_up</i> -->
        <div id="test1" class="collection">
           <a class="collection-item avatar" href="/explore/all/<%= element.id %>">
             <i class="material-icons blue darken-2 circle">assignment</i>
             <div class="chip">
               <img src="/img/irsyad2.jpg" alt="Contact Person">
               <%= element.username %>
             </div>
             <p class="title"><%= element.country %></p>
             <p class="red-text text-darken-2">$<%= element.budget %>
             </p>
           </a>
         </div>
       <% }) %>
    </div>
  </div>
</div>
